/* #region Commone rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: black;
}
/* #endregion */

/* #region Utilities */
.row {
    display: flex;
    flex-wrap: wrap;
    align-content:center ;
    justify-content: space-between;
}


.clearfix {
    display: table;
    clear: both;
    content: "";
}

.container {
    margin: 3rem auto 1rem auto;
    padding-top: 0.3rem;
    width: 95%;
}
/* #endregion */

/*#region debug */
.debug .container {
    background-color: red;
    height: 500px;
}

.debug nav {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: green;
    height: 4rem;
}



/*  */

.speaker_full {
    position: absolute;
    right: 5px;
    top: 5px;
}

.speaker_full span {
    color: white;
    background-color: rgba(128, 128, 128, 0.534);
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 0.8rem;
}

nav {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(24, 23, 23);
    height: 4rem;
}

.speaker {
    margin: 0.3rem;
    position: relative;
    max-height: 100px;
}

.name {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: rgba(128, 128, 128, 0.534);
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 2px;
    border-radius: 5px;
}

/* nav */
.row_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.audio_video,
.actions {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
}

.audio_video, 
.end {
    flex-grow: 1;
}

.actions {
    flex-grow: 2;
    text-align: center;
}

.end {
    text-align: right;

}

.row_bl {
    display: flex;
}

nav span {
    text-align: center;
    padding: 5px;
}

nav i {
    font-size: 1.5rem;
}

.row_actions {
    display: flex;
    justify-content: center;
}

.row_end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#endmeeting {
    margin-right: 1rem;
    color: red;
}




